@import '../scss/base/vars';
@import '../scss/base/reset';
@import '../scss/base/map';
@import '../scss/base/mixin';
@import '../scss/componentes/footer';
@import '../scss/componentes/header';
@import '../scss/componentes/index';
body{
	background-color: map-get($colores, blanco2)}

h1 {
	font-family: map-get($fonts, satisfy); 
	text-align: center; 
	font-size: 40px; }
h3 {
	padding: 10px; 
	display: grid;
	font-family: $font-satisfy;
	text-align: center; 
	font-size: 20px ;
	grid-template-columns: repeat(auto-fit,minmax(350px, 1fr)) ;
	width:50% ;}

.titulo {
	text-align: center; }
.boton-carta {
	background-color: $color-verde; 
	font-size: 20px; 
	border-radius: 10px; 
	padding: 5px; 
	font-family: map-get($fonts, arial); 
	text-align: center; 
	text-decoration: none;} 
p {
	font-size: 16px; 
	font-size: 20px; }
	a {
		text-decoration: none; 
		color: $color-negro;}

/* contacto y unete */
.formulario{
    @include flex-center;
}
.formulario iframe {
    padding: 10px;
    margin: 20px;
}
.formulario form{
    
    display:inline-block;
    width: 440px;
    padding: 20px;
    margin: 20px;
    box-shadow: $box-shadow;
}
form label{
    justify-items: center;
    font-size: 20px;
}
form input, textarea{
font-family: map-get($fonts, form);
display: flex;
order: 2;
padding: 10px 20px;
margin: 0 0 20px;
width: 90%;
background: none;
border-bottom:  1.5px solid $color-verde;
border-top: none;
border-left: none;
border-right: none;
}
main button{
    padding: 10px;
    border-radius: 10px;
    background:none;
    border: 1px solid;
}

.fotos2 {
	box-sizing: border-box; 
	border-radius: 20px; 
	display: grid; 
	grid-template-columns: repeat(auto-fit,minmax(350px, 1fr)) ;
	width: 95%; 
	margin: auto; 
	grid: gap 10px; 
	padding: 40px 0; 
	overflow: hidden; }
	img {
		width: 100%; 
		vertical-align: top; 
		height: 300px; 
		object-fit: cover; }
        .fotos2 > a {
            display: block;
            position: relative;
            overflow: hidden;
            box-shadow: 0 0 6px $color-negro;
        }
        @media only screen and (max-width: 576px) {
            .nav1 {
            display: none;
            }
            
            .nav2 ul li {
            display: flex;
            justify-content: center;
            }
            
            h1 {
            font-size: 30px;
            }
            
            p {
            font-size: 16px;
            }
            
            .paella {
            width: 100%;
            height: 50vh;
            }
			.formulario {
				display:inline-block;
				justify-content: center;
				
				}
				
			}
            // Media query para pantallas mayores 
            @media only screen and (min-width: 576px) {
            header nav {
            justify-content: center;
            }
            
            nav a {
            font-size: 35px;
            padding: 15px;
            }
            
            h1 {
            font-size: 40px;
            }
            
            p {
            font-size: 20px;
            }
            
            .formulario {
            	display:flex}
				.form3{
					width: 50%;
				}
            .unite {
            display: grid;
            width: 40%;
            }
            
            header .nav2 {
            display: none;
            }
            }