$colores:(
    blanco: #fff,
    negro: #000,
    verde: #2ba048,
    blanco2: #f6f2f2,
);
$fonts: (
    ubuntu: ('Ubuntu', sans-serif),
    satisfy: ('Satisfy', cursive),
    arial: (Arial, Helvetica, sans-serif),
    form:('Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif),
);