$color-blanco: #fff;
$color-negro: #000;
$color-verde: #2ba048;
$color-fondo: #f6f2f2;
$font-ubuntu: 'Ubuntu', sans-serif;
$font-satisfy: 'Satisfy', cursive;
$box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);